{% extends 'blog/base.html' %}

{% block title %}My Blog{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-6">
        {%if tag %}
            <h2>Posts tagged with "{{tag.name}}"</h2>
        {%endif%}

        {%for post in posts%}
            <div class = "card mb-4">
                <a href="{{post.get_absolute_url}}"><img class = "card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class = "card-body">
                    <h2 class ="card-title h4">{{post.title}}</h2>
                <p class="small text-muted">
                    Tags:
                    {% for tag in post.tags.all%}
                    <a class= "badge bg-secondary text-decoration-none link-light" href="{% url 'blog:post_list_by_tag' tag.slug%}">
                        {{tag.name}}
                    </a>
                    {% if not forloop.last%},{%endif%}
                    {%endfor%}
                </p>
                <p>
                <ul>
                    <li class = 'small text-muted'>Date of publication: {{post.publish}}</li>
                    <li class = 'small text-muted'>Author: {{post.author}}</li>
                    <li class = 'small text-muted'>Category: {{post.category}}</li>
                </ul>
                </p>
                <p class = "card-text">{{post.body | truncatewords:30 | linebreaks}}</p>
                <a class="btn btn-primary" href="{{post.get_absolute_url}}">Read more → </a>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{%include "pagination.html" with page=page_obj%}
{% endblock%}